.video-js {
    width: 100%;
    background-color: black;
}

.video-js .vjs-progress-control .vjs-mouse-display  button .vjs-icon-placeholder{
    background-color: black !important;
}
.video-js,
.vjs-poster {
    background-color: black !important;
}

 .vjs-control{
    background-color: black !important;
}
// .vjs-theme-sea .vjs-progress-control .vjs-slider {
//     /* background-color: rgba(65,118,188,.1); */
//     background-color: black !important;
//     background-image: url(/assets/test_heatmap.png) !important;
//     background-repeat: no-repeat !important;
//     background-size: contain !important;
//     background-position-y: bottom !important;
// }
.heatmap{
   visibility: hidden;
}